body{
    color: rgb(216, 48, 48);
    background-image:url("logost.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
h1{
    text-align: center;
    color: red;
}
header{
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

header h1{
    margin: 0;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul a{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}
ol{
    text-align: left;
}
nav ol a{
    color: whitesmoke;
    text-decoration: none;
}